---
import { AppShell } from '../components/app/AppShell';
const { } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>9to5-Scout Admin</title>
  </head>
  <body>
    <AppShell client:only="react">
      <slot />
    </AppShell>
  </body>
</html>
