---
import AdminLayout from '../../layouts/AdminLayout.astro';
---
<AdminLayout>
  <div class="p-8 text-center">
    <h1 class="text-xl font-semibold">Applicant Profile</h1>
    <p>Page under construction.</p>
  </div>
</AdminLayout>