---
export interface Props {
  className?: string;
}

const { className = '' } = Astro.props;
---

<div class={"rounded-lg border border-neutral-200 bg-white shadow-sm " + className}>
  <slot />
</div>